@import "config";

section.home-section {
  // border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5rem 4.375rem;

  aside {
    color: #5e655d;

    .foot-note {
      h4 {
        font-size: 1.75em;
      }
      h5 {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }

  .body-content {
    text-align: center;
    margin: auto auto;

    .avatar-wrapper {
      // background-color: #CBDDEE;
      // width: 200px;
      // height: 200px;
      // border-radius: 1000px;

      img.avatar-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #cbddee;
      }
    }
    h1 {
      text-transform: uppercase;
      color: #d9e5d4;
      margin-top: 1rem;
      margin-bottom: 0.8rem;
      font-family: "integral";
    }
    p {
      max-width: 30em;
      margin: 0 auto;
      line-height: 24px;
      font-size: 1rem;
      margin-bottom: 3rem;
      color: #d9e5d4;
    }

    a {
      color: #d9e5d4;
      text-decoration: none;
      border: 1px solid #d9e6d4;
      padding: 1rem 1.125rem;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "druk";
      // display: block;
    }
  }
}

@media (hover: hover) and (pointer: fine) {

    section.home-section {
        .body-content:hover {  
          a {
            background-color: #CEBFA7;
            color: #3E463D;
            // display: block;
          }
        }
      }

}
