@import '../sass/config';

section.single-repo {
    color: $primary-text-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: flex;

    .repo-card-wrapper{
      margin: auto auto;
    }

    button.navigate-button{
        margin: auto;
        border: 1px solid $button-color;
        padding: 1em 1.125em;
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: $button-color;
        margin-top: 2.5em;
        background-color: transparent;
        font-family: 'druk';
        cursor: pointer;

        & > svg{
            margin-right: 0.75em;
        }
    }

  .repo-card {
    border: 1px solid #D8DAD8;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #5E655D;
    border-radius: 12px;
    padding: 1.375em;
    padding-bottom: 4rem;
    min-width: 52rem;
    // align-items: center;

    .repo-intro {
      display: flex;
      align-items: center;

      .repo-logo{
        padding: 2rem;
        border: 1px solid #D8DAD8;
        border-radius: 5.61468px;
      }

      .repo-details{
        margin-left: 1.125rem;

        &>h1{
            font-size: 3rem;
            line-height: 4.87rem;
            max-width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            // font-family: 'druk' !important;
        }

        &>p{
            line-height: 1.5rem;
            font-size: 1rem;
            // text-transform: capitalize;
        }
      }
    }

    .repo-data-s {
        margin-top: 3.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

      .repo-data {
        display: flex;
        align-items: center;
       
        &>h4{
            font-size: 1.125rem;
            margin-left: 1.125em;
            // border: 2px solid red;
            max-width: 20rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {

  section.single-repo {

      button.navigate-button:hover {  
          background-color: #CEBFA7;
          color: #3E463D;
          // display: block
      }

    }

}